.barcode_label {
  font-size: 13px;
  color: orange;
}
.icon_rep {
  font-size: 18px;
  text-align: center;
  justify-content: space-around;
  align-items: space-between;
}

.price {
  border-radius: 2px;
  border: 2px solid aqua;
  padding: 2px;
}

.title {
  margin-top: 10px;
}
