<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="title">Forgot Password</ion-title>
    <ion-buttons slot="end">
      <ion-back-button>
        <ion-icon class="nt" name="arrow-back-outline"></ion-icon>
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <div class>
          <p style="font-size: 12px; color: red; text-align: center">
            Enter Email Address To Change Password
          </p>
          <ion-item style="color: #999">
            <ion-icon name="mail-outline"></ion-icon>
            <ion-input
              type="text"
              required
              placeholder="Email/Username"
              [(ngModel)]="email_address"
            ></ion-input>
          </ion-item>
        </div>
        <div class="forgot">
          <ion-button expand="full" color="dark" (click)="tryForgotPass()">
            Forgot Password
          </ion-button>
        </div>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
