<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="supplier-home">
      <ion-icon name="home"></ion-icon>
      <ion-label class="labels">Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="pending-orders">
      <ion-icon name="refresh-circle"></ion-icon>
      <ion-label class="labels">View & Delete</ion-label>
    </ion-tab-button>
    <!-- <ion-tab-button tab="delivered-orders">
      <ion-icon name="checkmark-circle-outline"></ion-icon>
    </ion-tab-button> -->
  </ion-tab-bar>
</ion-tabs>
