  <ion-card style="margin-top: 5%">
    <!-- <ion-card-header>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    <ion-card-title>Card Title</ion-card-title>
  </ion-card-header> -->
    <div
      style="text-align: center; margin-top: 5%; font-size: 14px"
      color="secondary"
    >
      Sales Reports
    </div>

    <!-- <ion-tabs>
      <ion-tab-bar slot="top">
        <ion-tab-button tab="sales">
          <ion-icon name="calculator"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="profit-loss">
          <ion-icon name="cash"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="stock">
          <ion-icon name="basket"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs> -->

    <ion-card-content> </ion-card-content>
  </ion-card>